<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Lewis Hamilton</h1>
    <p>Sir Lewis Carl Davidson Hamilton2​3​ (Stevenage, Hertfordshire, Inglaterra, Reino Unido; 7 de enero de 1985) es un piloto británico de automovilismo. En Fórmula 1 desde 2007 hasta 2012, fue piloto de la escudería McLaren, con la cual fue campeón en 2008 y subcampeón en 2007. A partir de 2013, se convirtió en piloto de Mercedes, resultando campeón en 2014, 2015, 2017, 2018, 2019, 2020, igualando los 7 títulos de Michael Schumacher, y subcampeón en 2016 y 2021. Ha logrado alzarse con más de 103 victorias en Grandes Premios a lo largo de su carrera en la Fórmula 1, siendo quien tiene más victorias en la historia de la competición, superando en 2020 el récord de victorias de Schumacher.
    <img src="/img/hamilton.jpg" alt="">/p>
</body>
</html>