<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Edward Hopper</h1>
    <p>Edward Hopper (Nyack, 22 de julio de 1882 - Nueva York, 15 de mayo de 1967)1​ fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
    <img src="/img/Edward_Hopper.jpg" alt="">
</body>
</html>